html {
  text-align: center;
}

section {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .choice-guide {
    font-size: 3.55vw;
  }

  .btn {
    width: 30vw;
    height: 30vw !important;
  }

  button:nth-of-type(1) {
    margin-right: 5vw;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 50%;
    margin: auto;
  }

  .choice-guide {
    font-size: 2vw;
  }

  .btn {
    width: 23vw;
    height: 23vw !important;
  }

  button:nth-of-type(1) {
    margin-right: 3vw;
  }
}
