<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Choice</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <main>
        <section data-color="red">
          <p class="choice-guide">두 버튼 중 <u>더 빨간</u> 버튼을 클릭해주세요.</p>
          <button class="waves-effect btn red" data-choice="left">button</button>
          <button class="waves-effect btn red" data-choice="right">button</button>
        </section>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
